body, html {
  margin: 0;
  padding: 0;
}

 html { 
  background: url(../assets/topo-lines.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 100% 0%;
  font-family: 'Noto Sans', sans-serif;
}



/********* HOMEPAGE ***********/

.homepage {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}



.website-header {
  background-color: #949494;
  padding: 0em 0.25em 0.25em 0.25em;
  margin: 0%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%
}

#site-title {
  color: white;
  font-size: 3.5em;
  font-weight: 700;
  margin: 0%;
  margin-left: 9%;
  position: center;
}

#mtn-logo {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(137deg) brightness(108%) contrast(102%);
  height: 3em;
  width: 3em;
  display: block;
  margin: 0.8em 0.5em 0.5em 0.5em;
}

#mtn-logo:hover {
  filter: invert(96%) sepia(9%) saturate(1031%) hue-rotate(74deg) brightness(102%) contrast(105%);
}


.nav-links > a > img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(137deg) brightness(108%) contrast(102%);
  height: 2em;
  width: 2em;
}

.nav-links > a > img:hover {
  filter: invert(90%) sepia(8%) saturate(1436%) hue-rotate(342deg) brightness(106%) contrast(102%);
}

.topo-intro {
  /* background-color: #EDEDED; */
  background-color: #FAFAFA;
  color: #5C5C5C;
  width: 20%;
  padding: 1em;
  border: white ridge 0.5em;
  font-size: 1.25em;
}

#info-button {
  margin-left: 26.5%;
  margin-top: 4%;
  padding: 5px 12px 5px 12px
}

#custom-loc-input {
  color: #B8B8B8;
  font-size: 1.5em;
  width: 50%;
}


.location-input {
  /* background-color: #EDEDED; */
  background-color: #FAFAFA;
  color: #5C5C5C;
  width: 50%;
  padding: 2em;
  border: white ridge 0.5em;
  text-align: center;
}


.homepage-buttons {
  font-size: 1.1em;
  background: #3D3D3D;
  border: none;
  border-radius: 1em;
  color: white;
}

#search-button {
  padding: 5px 12px 5px 12px;
  font-size: 1em;
}

.homepage-buttons:hover {
  background: #A1A1A1;
}

.homepage-buttons > img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(137deg) brightness(108%) contrast(102%);
  width: 1.5em;
  height: auto;
}

#location-input-title {
  margin: 0;
  font-size: 2.5em;
}

#location-input-sub-title {
  font-size: 1.75em;
  margin-top: 0.25em;
}

#topo-intro-title {
  margin: 0;
  font-size: 2em;
  text-align: center;
}

.preset-loc-buttons > button {
  background-color: lightblue;
  margin-top: 1em;
  margin-bottom: 3em;
}


#catalina-button {
  background-image: url('../assets/preset-loc-button-imgs/catalina.jpeg');
  background-size: 100px 130px;
  height: 134px;  
  width: 104px;
}

#yosemite-button {
  background-image: url('../assets/preset-loc-button-imgs/yosemite.jpeg');
  background-size: 100px 130px;
  height: 134px;  
  width: 104px;
}

#mojaves-button {
  background-image: url('../assets/preset-loc-button-imgs/mojaves.jpg');
  background-size: 100px 130px;
  height: 134px;  
  width: 104px;
}

/************ EDU PAGE ***********/
.edu-page {
  display: none;
  flex-direction: column;
  justify-content: center;
  margin-top: 10%;
  margin-bottom: 10%;
}

.edu-page > section {
  margin-left: 20%;
  background-color: #F2F2F2;
  width: 60%;
}

#topo-def {
  display: flex;
  justify-content: center;
}

#topo-def > img {
  height: 12em;
  border: 0.25em solid white;
  margin: 2em 2em 2em 0em;
}

.topo-def-title, .topo-def-text {
  padding-left: 20px;
}

#topo-def > #writing {
  display: flex;
  flex-direction: column;
}

#topo-def > #writing > p {
  margin: 1.25em 3em 1em 3em;
}

#topo-def > #writing > h2 {
  margin: 1.25em auto 0em auto;
}


#topo-def-title {
  margin: 0;
}

#writing > p {
  font-size: 1em;
}

#profile-deriv > img {
  height: 23em;
  border: 0.25em solid white;
  display:block;
  margin: 2em auto 2em auto;
}

#profile-deriv > #writing > h2 {
  margin: 1.25em auto 1em auto;
}

#profile-deriv > #writing > p {
  margin: 0em 3em 0em 3em;
}








/************* MAP & PROFILE PAGE **********/
.map-page {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
}

.map-page-titles {
  font-size: 1.25em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 15%;
  /* margin-left: 5%; */
}

.map-page > div {
  margin-top: 7%;
}

#map-title, #profile-title {
  background-color: #FAFAFA;
  text-align: center;
  background-color: #FAFAFA;
  font-size: 1.5em;
  height: 8%;
  width: 70%;
  padding-top: 3%;
  border: white ridge 0.25em;
}

#topo-map {
  height: 200px;
  width: auto;
  height: 12em;
  width: 32em;
}

#elevatation-data {
  height: 200px;
}

#profile {
  height: 13em;
  width: 40em;
}

.data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 70%;
}

.data > img {
  border: lightgray;
}
